@import url('https://ci.confirm.ch/colours.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*
 * Settings
 */

:root {
    --spacing: 20px;
    --background: linear-gradient(to bottom right, var(--cd-blue-10) 0%, var(--cd-blue-50) 100%);
    --primary: var(--cd-blue-100);
    --accent: var(--cd-blue-70);
    --muted: var(--cd-blue-40);
}

/*
 * Reset
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/*
 * HTML & body
 */

html,
body {
    width: 100vw;
    min-height: 100vh;
}

body {
    background: var(--background);
    color: #fcfcfc;
    display: grid;
    grid-template-areas:
        "header header"
        "manage tags";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
    gap: var(--spacing);
    padding: var(--spacing);
}

/*
 * Header
 */

header {
    font-size: 2rem;
    font-weight: 200;
    grid-area: header;
}

/*
 * Sections
 */

#manage {
    grid-area: manage;
}

#tags {
    grid-area: tags;
}

section {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    padding: var(--spacing);
}

/*
 * Form
 */

#error {
    background-color: var(--cd-rose-60);
    margin-bottom   : var(--spacing);
    padding         : var(--spacing);
}

label {
    display: block;
    margin: calc(var(--spacing) / 2) 0;
}

input,
select {
    background-color: rgba(0, 0, 0, 0.25);
    border-color    : transparent;
    border-style    : solid;
    border-width    : 0 0 2px 0;
    color: var(--foreground);
    outline: none;
    padding: calc(var(--spacing) / 2);
    width: 100%;
}

input::placeholder
{
    color: var(--accent);
    font-style: italic;
}

input:focus
{
    border-bottom-color: var(--accent);
}

button {
    border: 0;
    color: var(--primary);
}

button {
    cursor: pointer;
    font-weight: 600;
    display: block;
    padding: calc(var(--spacing) / 2);
    width: 100%;
    margin: var(--spacing) 0;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing);
}

#register {
    background-color: var(--cd-sea-green-60);
}

#register:hover {
    background-color: var(--cd-sea-green-70);
}

#unregister {
    background-color: var(--cd-rose-60);
}

#unregister:hover {
    background-color: var(--cd-rose-70);
}

/*
 * Tags
 */

#tags table {
    width: 100%;
    border-collapse: collapse;
}

#tags th,
#tags td {
    padding: calc(var(--spacing) / 2);
}

#tags th {
    border-bottom: 1px solid var(--muted);
    text-align: left;
    font-weight: 600;
}

#tags tbody tr:hover {
    background-color: var(--muted);
    cursor: pointer;
}
